.el-event-con-head {
	background-color: #bdc3c7;
	padding: 11px;
	color: #fff;
}
.el-event-con-head a {
	text-decoration: none;
	color: #fff;
	font-size: 26px;
}
.el-event-con-body {
	position: relative;
}
.el-event-con-body .desc {
	position: absolute;
	padding: 4px 10px;
	background-color: rgba(35,40,45,0.5);
	color: #fff;
	width: 100%;
}
.desc .el-location {
	margin: 0px;
}
.event-panel {
	margin: 10px;
	border: 1px solid #ccc;
}
.el-gcalendar {
	position: relative;
	float: right;
	border: 1px solid #c0392b;
	background-color: #e74c3c;
	font-size: 12px !important;
	padding: 10px;
	border-radius: 5px;
}